<div class="panel panel-default">
    <div class="panel-heading">
        系统消息
    </div>
    <div class="panel-body" style="padding:8px 2px">
        <volist name="systemmsg" id="vo" empty="暂无消息">
            <div class="msg-row">
                <div class="pull-left">
                    <div class="headpic-default64 text-center">
                        系
                    </div>
                </div>
                <div class="col-md-9">
                    <div style="margin-top: 8px">
                        <input type="hidden" value="{$vo.id}" name="id">
                        <a href="#" data-toggle="popover" data-content="{$vo.content}" data-html="true" class="msgtheme">
                            <strong class="text-primary">{$vo.theme}
                                <small class="text-muted">(点击查看)</small>
                            </strong>
                        </a>
                    </div>
                    <div class="mtop1">
                        <span class="text-primary">{$vo.fromname}</span>
                        在
                        <small><strong>
                            <span class="text-muted">{$vo.sendtime}</span>
                        </strong></small>
                        的消息
                    </div>

                </div>
                <div class="pull-right">
                    <div class="mtop12">
                        <php>
                            if($vo['statu']==1){
                        </php>
                        <strong>
                            <span class="label label-primary statu">未读</span>
                        </strong>
                        <php>}else{</php>
                        <span class="label label-default statu">已读</span>
                        <php>}</php>
                    </div>
                    <div class="mtop1">
                        <input type="hidden" value="{$vo.id}" name="id">
                        <a href="javascript:" class="delmsg">
                            <span class="label label-danger">删除</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </volist>

    </div>
</div>
<script>
    $(document).ready(function () {
        //显示具体内容，同时标记为已读
        $(".msgtheme").popover();
        $(".msgtheme").on('hidden.bs.popover', function (event) {
            var id    = $(this).siblings("input[name='id']").val();
            var statu = $(this).parent().parent().parent().find(".statu");
            $.post(CON_PATH + '/setMsgReaded', {id: id}, function (data) {
                console.log(data);
                if (data == "success") {
                    statu.html("已读");
                    statu.removeClass("label-primary");
                    statu.addClass("label-default");
                }
            });

        });

        //删除消息
        $(".delmsg").on('click', '', function (event) {
            event.preventDefault();
            var id = $(this).siblings("input[name='id']").val();
            $.post(CON_PATH + '/delMsg', {id: id}, function (data) {
                console.log(data);
                if (data == "success") {
                    alertInfo('info', '', '删除成功');
                    location.reload();
                } else {
                    alertInfo('info', '', '删除失败');
                }

            });
        });
    });
</script>