<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统消息-消息中心</title>
    <include file="Blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <include file="Blocks/stayTuned"/>
        <div class="container">
            <div class="col-md-2 col-md-offset-1">
                <include file="Blocks/msgmenu"/>
            </div>
            <div class="col-md-8">
                <include file="$frag"/>

            </div>
        </div>



    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>