<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>关于我们-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            关于我们
                        </div>
                        <div class="panel-body">
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;注重每个个体的成长，注重自身能力的提升。世界有许许多多的人才，在为这个世界变得更美好
                                而不断的努力奋斗。我们只是其中的一员。我们每天做自己喜欢的事情，并希望把自己的喜欢的事
                                做成事业，这也就是我们所理解的创业。
                            </p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;我们的能力有限，资源有限，但在这有限之中，发挥我们无限的想像力，发挥我们自身的能力特点，
                                来创造可以突破有限的事情。
                            </p>
                            <p>
                                &nbsp;&nbsp;&nbsp;&nbsp;我们有什么不同？也许我们只是更踏实，注重自身能力的提升，更关注身边的小事，不断吸取别人的长处，
                                从别人的失败中总结经验。我们思想开放，乐于分享。同时我们也希望有更多的人才可以利用更多的资源，来为我们的城市，
                                为身处的社会，为整个人类做出贡献！
                            </p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>
