<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>联系我们-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            联系我们
                        </div>
                        <div class="panel-body">
                            有任何建议，或者寻求合作，请发送邮件，非诚勿扰！
                            <address>
                                <strong>NilTor</strong><br>
                                <a href="mailto:admin@geethin.com">admin@geethin.com</a>
                            </address>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>
