<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>帮助-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            帮助
                        </div>
                        <div class="panel-body">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>
