<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>隐私政策-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            隐私政策
                        </div>
                        <div class="panel-body">
                            <div style="background: transparent;border:none;font-size:15px;line-height: 1.8em">
                                简单的说:
                                <p>&nbsp;&nbsp; 1 蜂鸟创投不会主动泄露您的任何信息！</p>

                                <p>&nbsp;&nbsp; 2 您的密码是通过加密存储的。</p>

                                <p>&nbsp;&nbsp; 3 您在本网站注册的信息，邮箱和手机号码默认是不开放的。</p>

                                <p>&nbsp;&nbsp; 4 除非您同意，我们不会向您的邮箱或手机发送任何推荐或广告内容。</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>
