<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>服务政策-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">

                <!--TODO-->
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            服务政策
                        </div>
                        <div class="panel-body">
                            <div style="background: none;border:none;font-size:15px;line-height: 1.8em">
                                <p>&nbsp;&nbsp;1 蜂鸟创投为广大创业人才提供一个交流、分享、对接的服务平台。
                                    我们为大家提供各种各样的创业信息服务，并努力筛选优质内容，营业一个良好的环境。</p>

                                <p>&nbsp;&nbsp;2 我们对用户在平台上产生的内容有监管的权利，我们鼓励大家自由发言，畅所欲言！
                                    若有任何违反法律法规的内容，我们有权进行删除。</p>

                                <p>&nbsp;&nbsp;3 需要特别提醒的是，诽谤、辱骂、造谣，以及私自转载或盗用他人的知识产权内容的行为，
                                    不仅是违法相关的法律法规的，也完全不符合平台的宗旨，我们会坚决打击！</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>

    </div>
</div>
</body>
</html>
