<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>项目-蜂鸟创投</title>
    <include file="Blocks/import" />
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <include file="Blocks/header" />
            <div class="container-fluid">
                <div id="content"></div>

            </div>
            <div class="content">
                <include file="Blocks/stayTuned" />
                <include file="main" />
            </div>
            <div class="footer">
                <include file="Blocks/footer" />
            </div>
        </div>
</body>

</html>
