<!DOCTYPE html>
<html>
<head>
	<include file='blocks:head'/>
	<link rel="stylesheet" href="__PUBLIC__/css/default.weixin.css">
	<title>消息详情</title>
</head>
<body>
<div class="container-fluid">
	<div class="row" style="background-color: #00b7ee">
		<div class="col-xs-2">
			<a href="javascript:history.go(-1)"><span style="font-size: 24px;color: white;"><i class="fa fa-angle-left fa-2x"></i></span></a>
		</div>
		<div class="col-xs-10"></div>
	</div>
	<div class="row" style="background-color: white;margin-top: 5px;padding-top: 15px">
		<div class="col-xs-12">
			<include file='blocks:msgdtlslist'/>
		</div>
	</div>
</div>
</body>
</html>