<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<include file="Blocks/import"/>
	<title>{$title}</title>
</head>
<body>

	<div class="flex-grid">
		<div class="row">
			<div class="cell size12">
				<h3>
					{$tag}
					<span class="mif-{$icon} place-right"></span>
				</h3>
				<hr class="bg-grayLighter thin"></div>
		</div>

		<div class="row">
			<div class="cell size12">
				<table class="table sortable-markers-on-left align-center border bordered hovered">
					<thead>
						<tr>
							<th class="sortable-column sort-desc" style="width:5%;">ID</th>
							<th class="sortable-column" style="width:22%;">内容</th>
							<th class="sortable-column" style="width:10%;">话题</th>
							<th class="sortable-column" style="width:10%;">作者</th>
							<th class="sortable-column" style="width:7%;">点赞</th>
							<th class="sortable-column" style="width:7%;">阅读</th>
							<th class="sortable-column" style="width:14%;">发布时间</th>
							<th class="sortable-column" style="width:25%;">操作</th>

						</tr>
					</thead>
					<tbody>

						<volist id="vo" name="topics">
							<tr>
								<td>{$vo.id}</td>
								<td>{$vo.content|subtext=12}</td>
								<td>{$vo.type}</td>
								<td>{$vo.username}</td>
								<td>{$vo.rise}</td>
								<td>{$vo.view}</td>
								<td>{$vo.posttime|substr=###,0,10}</td>
								<td>
									<a href="__ROOT__/index.php/Home/Share/detailtopic?id={$vo.id}&uid={$vo.uid}" target="_blank">
										<button class="button primary btn">查看</button>
									</a>
									<button class="button success btn">发信息</button>

									<div class="dropdown-button">
										<button class="button danger dropdown-toggle">更多</button>
										<ul class="split-content d-menu place-right" data-role="dropdown">
											<li>
												<a href="__MODULE__/User/doDelete">删除</a>
											</li>
										</ul>
									</div>

								</td>
							</tr>
						</volist>

					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="cell size12">{$page}</div>
		</div>
	</div>
</body>
</html>
<script>
	$(document).ready(function() {
		  var title = $('title').text();
		  console.log(title);
		  $('#'+title, window.parent.document).addClass('active').siblings().removeClass('active');
	
	});
</script>