<div class="col-md-9">
    <form action="__MODULE__/User/userInfoChange" method="post" enctype="multipart/form-data">
        <!--头像-->
        <div style="margin-top:12px">
            <label for="">选择头像</label>
            <small>(选择你喜爱的头像，方便识别)</small>
            <br>
            <!--TODO 处理头像上传-->
            <img src="__ROOT__/Uploads/headpic{$user.headpic}"  class="headpic cur" id="headpic">
            <input type="file" name="headpic" style="display: none" accept="image/gif,image/png,image/jpg,image/jpeg">

        </div>

        <div style="margin-top:12px">
            <label for="">关注的项目类型</label>
            <small>(填写您的兴趣爱好,多个用;隔开)</small>

            <input type="text" class="form-control" placeholder="社交;教育;工具;O2O;互联网;智能硬件;软件开发" name="wantproject" value="{$user.wantproject}">

        </div>

        <div style="margin-top:12px">
            <label for="">目标创业者</label>
            <small> (选择类型及参与方式)</small>
            <div class="row">
                <div class="col-md-4" style="padding-right:0">
                    <select  id="wantfounder" class="form-control" name="wantfounder">
                        <option value="创始人">创始人</option>
                        <option value="执行者">执行者</option>
                        <option value="营销运营">营销运营</option>
                        <option value="策划设计师">策划设计师</option>
                        <option value="技术工程师">技术工程师</option>

                    </select>
                </div>
                <div class="col-md-4">
                    <select  id="wantstate" class="form-control" name="wantstate">
                        <option value="业余关注">业余关注</option>
                        <option value="兼职参与">兼职参与</option>
                        <option value="全职参与">全职参与</option>
                        <option value="投入全部">投入全部</option>
                    </select>

                </div>
            </div>
        </div>


        <div class="text-center" style="margin-top:12px">
            <button class="btn btn-success" type="submit" id="savereg3">确定提交</button>
        </div>


    </form>

</div>
<div class="col-md-3"></div>

<script>
    $(document).ready(function(){
        $("#wantfounder option[value='{$user.wantfounder}'] ").attr("selected",true);
        $("#wantstate  option[value='{$user.wantstate}'] ").attr("selected",true);

        $("#headpic").on('click', '', function (event) {
            event.preventDefault();
            $("input[name='headpic']").click();

        });

        $("input[name='headpic']").on('change', '', function (event) {
            event.preventDefault();
            var files = this.files;
            var file = files[0];
            var reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = function(){
                img=this.result;
                console.log(img);
                $("#headpic").attr('src',this.result);
            };
        });
    });
</script>