<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <div class="header">
        <include file="Blocks/header"/>
    </div>
    <div class="content">
        <div class="row" style="padding:20px;">
            <div class="container">
                <div class="col-md-2">
                    <include file="Blocks/usermenu"/>
                </div>
                <div class="col-md-9"></div>

            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>

    </div>
</div>
</body>
</html>