<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1448075210_9483647.css">
<link rel="stylesheet" href="__PUBLIC__/css/weixin.css">
<script src="__PUBLIC__/js/react.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/react-dom.js" charset="utf-8"></script>
<script src="__PUBLIC__/js/jquery-1.10.2.min.js" charset="utf-8"></script>
<script>
    var CON_PATH = '__CONTROLLER__';
    var APP_PATH = '__APP__';
    var MOD_PATH = '__MODULE__';
    var ROOT_PATH = '__ROOT__';
</script>
