<div class="row" style="margin:8px 0">
    <div class="container">
        <hr>
        <div class="col-md-5">
            <small> © 2015 蜂鸟创投&nbsp;
                <a href="__MODULE__/Index/servicepolicy">服务政策</a>&nbsp;
                <a href="__MODULE__/Index/privacypolicy">隐私政策</a>&nbsp;
                <a href="__MODULE__/Index/contactus">联系我们</a>&nbsp;
                <a href="__MODULE__/Index/help">帮助</a>

            </small>

        </div>
        <div class="col-md-2 text-center">
            <img src="__PUBLIC__/images/home/logo256.png" width="26px">
        </div>
        <div class="col-md-5 text-right">
            <small>

                <a href="http://geethin.com" target="_blank" class="text-danger"><strong>加入我们(极思科技)</strong></a>
                &nbsp;
                <a href="__MODULE__/Service/index">创业服务</a>&nbsp;
                <a href="__MODULE__/Index/aboutus">关于我们</a>&nbsp;

                <a href="__MODULE__/Index/">博客</a>
            </small>
        </div>
    </div>
</div>