<div class="row" style="margin:8px 0">
    <div class="col-md-8 col-md-offset-2">
        <hr>
        <div class="col-md-5">
            <small> © 2015 蜂鸟创投&nbsp;
                <a href="">联系我们</a>&nbsp;
                <a href="">帮助</a>
            </small>

        </div>
        <div class="col-md-2 text-center">
            <img src="__PUBLIC__/images/home/logo.png" width="26px">
        </div>
        <div class="col-md-5 text-right">
            <small>
                <a href="">创业服务</a>&nbsp;
                <a href="">关于我们</a>&nbsp;
            </small>
        </div>
    </div>
</div>