<meta name="keywords" content="蜂鸟创投,创投,创业者,创业项目,互联网创业">
<meta name="description" content="蜂鸟创投是以人才为核心，围绕人才，打造团队，匹配项目，提供各种资源支持， 帮助真正有才能的人完成他们的梦想，为社会创造价值，让世界变得更加美好！">
<meta name="robots" content="all">
<meta name="author" content="geethin.com  NilTor">


<!--本地资源-->
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.min.css">
<link rel="stylesheet" href="//at.alicdn.com/t/font_1448075210_9483647.css">
<script src="__PUBLIC__/js/jquery-1.10.2.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="__PUBLIC__/css/home.css">
<script src="__PUBLIC__/js/home.js"></script>
<script src="__PUBLIC__/js/validate.js"></script>
<script src="__PUBLIC__/js/procity.js"></script>
<script>

    MOD_PATH = '__MODULE__';
    CON_PATH = '__CONTROLLER__';
    APP_PATH = '__APP__';
</script>