<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="follow">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关注</h4>
            </div>
            <div class="modal-body text-center">

                <h3>您已关注过此用户</h3>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#follow").on('show.bs.modal', function (event) {
            var button   = $(event.relatedTarget);
            var id = button.data('id');
            var uid      = button.data('uid');
            var pname      = button.data('pname');
            var modal    = $(this);
            //modal.find('.modal-body h3').text(pname);
            modal.find('.modal-body h3').load('__MODULE__/User/get_doFollowProject?id='+id+'&uid='+uid+'&pname='+pname);

        });
    });
</script>