<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>话题-蜂鸟创投</title>
    <include file="Blocks/import"/>
</head>
<body>
<div class="container-fluid">
    <include file="Blocks/header"/>
    <div class="header">
    </div>
    <div class="content">
        <include file="Blocks/stayTuned"/>
        <div class="container">
            <div class="col-md-7">
                <div style="border:1px solid #ddd;display: table;width:100%;padding:8px">
                    <div>
                        <div class="col-md-2 text-center" style="padding:0;">
                        <span style="font-size:18px;background: #337ab7;color:white;padding:0 5px;">
                            {$topic.type}
                        </span>
                        </div>
                        <div class="col-md-10">
                        <span class="text-primary" style="font-size:20px">
                            <a href="__MODULE__/Founder/detail?id={$_GET['uid']}" target="_blank">
                                <strong>
                                    {$user.username}
                                </strong>
                            </a>

                        </span>
                            &nbsp;&nbsp;
                            <small class="text-muted">
                                <strong>{$topic.posttime}</strong>
                            </small>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="line" style="margin:5px 0"></div>
                    <div style="margin-top:8px">
                        <div class="col-md-2">
                            <a href="__MODULE__/Founder/detail?id={$_GET['uid']}" target="_blank">
                                <img src="__ROOT__/Uploads/headpic{$user.headpic}" alt="" class="img64">
                            </a>
                        </div>
                        <div class="col-md-10 text-info" >
                                <span class="overword">{$topic.content}</span>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <div class="pull-right text-danger">

                            <input type="hidden" name="id" value="{$topic.id}">
                            <span class="iconfont icon-liulanliang text-muted" style="font-size:20px;"></span>
                            <span class="text-muted">{$topic.view}</span>
                            &nbsp;&nbsp;
                            <span class="iconfont icon-zan cur" id="dolike" style="font-size:20px;"></span>
                            <span id="approvenumber">{$topic.rise}</span>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="line" style="margin:15px 0"></div>


                    <div class="col-md-12">
                        <form action="" method="post">
                            <input type="hidden" name="targetid" value="{$user.id}">
                            <input type="hidden" name="tid" value="{$topic.id}">
                        <textarea name="content" class="form-control" rows="4"
                                  style="resize:none" placeholder="评论内容"></textarea>

                            <div class="mtop1 text-right">
                                <input type="button" id="postcomment" class="btn btn-primary" value="发表评论">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-5 well">
                <h4>评论内容:</h4>
                <div class="" style="border:1px solid #ddd;background: #f1f1f1">
                    <volist name="comments" id="vo">
                        <div style="padding:4px;border-bottom: 1px solid #ddd;display: table;width:100%">
                            <div class="col-md-2">
                                <a href="__MODULE__/Founder/detail?id={$vo.uid}">
                                    <img src="__ROOT__/Uploads/headpic{$vo.headpic}" alt="" class="img64">
                                </a>
                            </div>
                            <div class="col-md-9" style="overflow: auto">

                                <a href="__MODULE__/Founder/detail?id={$vo.uid}">
                                    <span class="text-primary">
                                        <strong>
                                            {$vo.username}
                                        </strong>
                                    </span>
                                </a>

                                &nbsp;&nbsp;
                                <small class="text-muted">
                                    {$vo.commenttime}

                                </small>
                                <p class="text-info">
                                    {$vo.content}
                                </p>
                            </div>
                            <div class="col-md-1 text-danger" style="padding:0">

                                <input type="hidden" name="id" value="{$vo.id}">
                                <span class="iconfont icon-zan cur dolike" style="font-size:20px;"></span>
                                <span class="approvenumber">{$vo.rise}</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </volist>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#postcomment").on('click', '', function (event) {
            event.preventDefault();
            if (validate($("form"))) {
                var targetid = $("input[name='targetid']").val();
                var tid      = $("input[name='tid']").val();
                var content  = $("textarea[name='content']").val();
                if (content == "") {
                    alertInfo('info','','内容不可为空');
                }
//                TODO 该方法地址有可能改变
                $.post(MOD_PATH + '/User/doAddComment', {
                    targetid: targetid,
                    tid:      tid,
                    content:  content,
                    table:"topic_comment"
                }, function (data) {
                    console.log(data);
                    if (data['status'] == 1) {
                        $("textarea[name='content']").val("");
                        location.reload();

                    }
                    alertInfo('info','',data['info']);

                })
            }
        });

        $("#dolike").on('click', '', function (event) {
            event.preventDefault();
            var approvenumber = $(this).siblings("#approvenumber");
            var id = $(this).siblings("input[name='id']").val();
            $.post(MOD_PATH+'/User/doRise',{type:'topic',id:id},function(data){
                alertInfo('info','',data['info']);
                if(data['status']==1) {
                    var num=approvenumber.html();
                    console.log(num);
                    approvenumber.html(++num);
                }
            })
        });

//        评论点赞
        $(".dolike").on('click', '', function (event) {
            event.preventDefault();
            var approvenumber = $(this).siblings(".approvenumber");
            var id = $(this).siblings("input[name='id']").val();
            $.post(MOD_PATH+'/User/doRise',{type:'topic_comment',id:id},function(data){
                alertInfo('info','',data['info']);
                if(data['status']==1) {
                    var num=approvenumber.html();
                    approvenumber.html(++num);
                }
            })
        });

    });
</script>