<html>
<head>
    <title>极思科技</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/dist/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/dist/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/ckform.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/dist/js/common.js"></script>
</head>
<body>