<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的分享-蜂鸟创投</title>
    <include file="Blocks/import"/>

</head>
<body>
<div class="container-fluid">
    <include file="Blocks/header"/>
    <div class="header">
    </div>
    <div class="content">
        <include file="Blocks/stayTuned"/>
        <div class="container">
            <div class="col-md-2">
                <include file="Blocks/sharemenu"/>
            </div>
            <div class="col-md-9">
                <include file="$frag"/>
            </div>
        </div>
    </div>
    <div class="footer">
        <include file="Blocks/footer"/>
    </div>
</div>
</body>
</html>